caches/
libraries/
shelf/

workspace.xml
tasks.xml
.name
compiler.xml
copyright/profiles_settings.xml
encodings.xml
misc.xml
modules.xml
scopes/scope_settings.xml
dictionaries
vcs.xml
jsLibraryMappings.xml
datasources.xml
dataSources.ids
sqlDataSources.xml
dynamic.xml
uiDesigner.xml
assetWizardSettings.xml
gradle.xml
jarRepositories.xml
navEditor.xml
deploymentTargetDropDown.xml
deploymentTargetSelector.xml
other.xml
studiobot.xml
kotlinc.xml
runConfigurations.xml

codeStyles/Project.xml
codeStyles/codeStyleConfig.xml
